.close-button {
    background: none;      /* Geen achtergrond */
    border: none;          /* Geen rand */
}

ul, ol {
    list-style-type: none; /* Dit verwijdert de marker */
    padding-left: 0; /* Dit verwijdert de standaard padding, wat vaak gewenst is als je de markers verwijdert */
}

.nuaanmelden {
    display: inline-block;
    padding: 10px 20px;  /* Bepaal de grootte van de knop via padding */
    background-color: #4D4D4F; /* Achtergrondkleur van de knop */
    color: #ffffff; /* Tekstkleur van de knop */
    text-align: center;
    text-decoration: none; /* Verwijder de onderstreping van de link */
    border-radius: 50px; /* Ronde hoeken */
    font-weight: bold; /* Vetgedrukte tekst */
    transition: background-color 0.3s; /* Overgangseffect */
}

.nuaanmelden:hover {
    background-color: #3D3D3E; /* Verander de achtergrondkleur bij hover */
    text-decoration: underline;
}

.aanmelden {
    display: inline-block;
    padding: 10px 20px;  /* Bepaal de grootte van de knop via padding */
    color: black; /* Tekstkleur van de knop */
    text-align: center;
    border: 1px solid #4D4D4F; /* Rand rond de knop */
    text-decoration: none; /* Verwijder de onderstreping van de link */
    border-radius: 50px; /* Ronde hoeken */
    font-weight: bold; /* Vetgedrukte tekst */
    transition: background-color 0.3s; /* Overgangseffect */
}

.aanmelden:hover {
    background-color: #3D3D3E; /* Verander de achtergrondkleur bij hover */
    text-decoration: underline;
    color: white; /* Tekstkleur van de knop */
}

.knoppen {
    color: black;            /* De kleur zal dezelfde zijn als de omliggende tekst of het specifieke element waar het in zit */
    text-decoration: none;    /* Verwijdert de onderstreping */
}

.knoppen :hover {
    color: #007BFF;           /* Bijvoorbeeld: maak de link blauw bij hover */
    text-decoration: underline; /* Voeg een onderstreping toe bij hover */
}

.aanbevolen {
    color: black;            /* De kleur zal dezelfde zijn als de omliggende tekst of het specifieke element waar het in zit */
    text-decoration: none;    /* Verwijdert de onderstreping */
}

.aanbevolen :hover {
    color: black;           /* Bijvoorbeeld: maak de link blauw bij hover */
    text-decoration: underline; /* Voeg een onderstreping toe bij hover */
    text-decoration-color:black;
}

.nuwinkelen {
    display: inline-block;
    padding: 10px 20px;  /* Bepaal de grootte van de knop via padding */
    background-color: white; /* Achtergrondkleur van de knop */
    color: black; /* Tekstkleur van de knop */
    text-align: center;
    text-decoration: none; /* Verwijder de onderstreping van de link */
    border-radius: 10px; /* Ronde hoeken */
    font-weight: bold; /* Vetgedrukte tekst */
    transition: background-color 0.3s; /* Overgangseffect */
}

.nuwinkelen:hover {
    background-color: black; /* Verander de achtergrondkleur bij hover */
    color: white;
    text-decoration: none;
}

.blauwe-achtergrond {
    background-color: #201D47;
}
